# frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# backend
backend/venv/
backend/.env
backend/.pytest_cache/

# global for Python
__pycache__/
*.pyc

# global
*.log
*.local
.DS_Store
.idea/
.vscode/
.env